{% if page == 'methodology' %}
	{% set title = 'Важные факты о преимуществах обучения в SAY YES!' %}
	{% set mixin = 'text-blocks--methodology' %}
{% elseif page == 'adults-courses' %}
	{% set title = 'Важные факты о курсе Английский с нуля' %}
	{% set mixin = 'text-blocks--adults-courses' %}
{% endif %}

<section class="advantages {{mixin}}">
	<div class="section-container">
		<h2 class="subtitle">Важные факты о преимуществах обучения языку в SAY YES!</h2>
		<div class="text-blocks">
			{% for item in advantages %}
				<div class="text-block {{item.class}}">
					<h4 class="text-block__title">{{item.title}}</h4>
					<p class="text-block__description">{{item.description}}</p>
				</div>
			{% endfor %}
		</div>
	</div>
</section>
