<section class="advantages">
	<div class="text-blocks">
		<h2 class="subtitle">Важные факты о преимуществах обучения в SAY YES!</h2>
		<div class="text-block">
			<h4 class="text-block__title">75 % практика языка</h4>
			<p class="text-block__description">Бóльшую часть занятия говорит студент</p>
		</div>
		<div class="text-blocks__columns">
			<div class="text-blocks__left">
				<div class="text-block text-block--violent">
					<h4 class="text-block__title">Онлайн платформа</h4>
					<p class="text-block__description">Нескучная домашка в интерактивном виде</p>
				</div>
				<div class="text-block">
					<h4 class="text-block__title">Визиты носителей</h4>
					<p class="text-block__description">Дополнительная практика языка в группе</p>
				</div>
			</div>
			<div class="text-blocks__right">
				<div class="text-block text-block--big text-block--books-bg">
					<h4 class="text-block__title">Современные пособия</h4>
					<p class="text-block__description">Используем новейшие пособия Oxford, Cambridge и Macmillan</p>
				</div>
				<div class="text-block text-block--big">
					<h4 class="text-block__title">Стандартизированная методика</h4>
					<p class="text-block__description">Практикуем один подход в офлайн и онлайн формате</p>
				</div>
			</div>
		</div>
	</div>
</section>
