<section class="appeal-founders">
	<div class="appeal">
		<h3 class="appeal__title">Обращение основателей школы</h3>
		<div class="appeap__text">
			<p class="appeal__description">Цель нашей Школы —
				<span class="violent">научить ГОВОРИТЬ</span>
				на английском и
				<span class="violent">влюбить</span>
				в сам процесс освоения языка. Ведь сам по себе путь может быть не менее прекрасен результата!</p>
			<p class="appeal__description">Мы не только обладаем эффективными методиками обучения, но и стремимся создать атмосферу дружелюбия и уюта, в которую вам захочется возвращаться снова и снова.</p>
			<p class="appeal__description">Приходите к нам за знаниями и приятным времяпрепровождением =)</p>
			<p class="appeal__description">Ждем вас в Школе в Москве и онлайн!</p>
		</div>
	</div>
	<div class="appeal-founders__picture">
		<img src="../assets/images/founders-2.png" alt="Основатели" class="appeal-founders__img">
	</div>
</section>
