<section class="atmosphere">
	<div class="section-container">
		<h2 class="left-title">Атмосфера «второго дома»</h2>
		<p class="atmosphere__description">
			SAY YES! это место, куда хочется возвращаться. Мы создаем дружескую атмосфру и проводим мероприятия для погружения в языковую среду.
		</p>
		<div class="atmosphere__trip">
			<p class="atmosphere__trip-text">Совместные выезды</p>
			<img src="./assets/images/trip.png" alt="Совместные выезды" class="atmosphere__trip-img">
			<img src="./assets/images/atmosphere-tip-1.png" alt="Английский на пикнике" class="atmosphere__trip-tip">
		</div>
		<div class="atmosphere__celebrations">
			<ul class="atmosphere__celebrations-list">
				<li class="atmosphere__celebrations-item">Отмечаем праздники вместе</li>
				<li class="atmosphere__celebrations-item">Онлайн встречи</li>
				<li class="atmosphere__celebrations-item">Караоке на перемене</li>
			</ul>
			<div class="atmosphere__celebrations-images">
				<img src="./assets/images/meeting-1.png" alt="Отмечаем праздники вместе" class="atmosphere__celebration-img">
				<div class="atmosphere__celebration-img">
					<div class="video">
						<img src="./assets/images/meeting-2.png" alt="Отмечаем праздники вместе">
						<button class="play"></button>
					</div>
				</div>
			</div>
			<img src="./assets/images/atmosphere-tip-2.png" alt="Отмечаем завевершение обучения" class="atmosphere__celebrations-tip">
		</div>
	</div>
</section>
