<section class="behind-the-scenes">
	<div class="section-container">
		<h2 class="subtitle">Жизнь Школы за кулисами и не только</h2>
		<p class="behind-the-scenes__description">Для нас Школа — это не только интересная работа, но и совместное времяпрепровождение.</p>
		<p class="behind-the-scenes__description">Мы веселимся, вместе учимся новому и делаем жизнь нашего SAY YES! коммьюнити насыщенней яркими моментами и от того счастливее.</p>
		<ul class="behind-the-scenes__gallery">
			<li class="behind-the-scenes__item">
				<img src="./assets/images/behind-the-scenes/bts-1.jpg" alt="Say Yes" class="behind-the-scenes__img">
			</li>
			<li class="behind-the-scenes__item">
				<img src="./assets/images/behind-the-scenes/bts-2.jpg" alt="Say Yes" class="behind-the-scenes__img">
			</li>
			<li class="behind-the-scenes__item">
				<img src="./assets/images/behind-the-scenes/bts-3.jpg" alt="Say Yes" class="behind-the-scenes__img">
			</li>
			<li class="behind-the-scenes__item">
				<img src="./assets/images/behind-the-scenes/bts-4.jpg" alt="Say Yes" class="behind-the-scenes__img">
			</li>
			<li class="behind-the-scenes__item">
				<img src="./assets/images/behind-the-scenes/bts-5.jpg" alt="Say Yes" class="behind-the-scenes__img">
			</li>
			<li class="behind-the-scenes__item">
				<img src="./assets/images/behind-the-scenes/bts-6.jpg" alt="Say Yes" class="behind-the-scenes__img">
			</li>
			<li class="behind-the-scenes__item">
				<img src="./assets/images/behind-the-scenes/bts-7.jpg" alt="Say Yes" class="behind-the-scenes__img">
			</li>
			<li class="behind-the-scenes__item">
				<img src="./assets/images/behind-the-scenes/bts-8.jpg" alt="Say Yes" class="behind-the-scenes__img">
				<img src="./assets/images/behind-the-scenes/bts-3.jpg" alt="Say Yes" class="behind-the-scenes__img">
			</li>
		</ul>
	</div>
</section>
