<section class="being-student">
	<h2 class="subtitle">Быть нашим студентом — это...</h2>
	<div class="video">
		<img src="./assets/images/being-student.png" alt="Офлайн" class="video__bg">
		<button class="play"></button>
	</div>
</section>
