<section class="courses courses--offer">
	<div class="section-container">
		<h2 class="subtitle">Мы предлагаем курсы для взрослых и детей в различных форматах: офлайн в Москве, онлайн в группе и индивидуально.</h2>
		<p class="courses__description">Выберите необходимое для вас обучение.</p>
		<ul class="tabs">
			<li class="tabs__tab">Курсы для взрослых</li>
			<li class="tabs__tab">Курсы для детей</li>
		</ul>
		<ul class="courses__course-blocks">
			{% include '../components/courses.twig' with {courses: courses2} %}
		</ul>
	</div>
</section>
