<section class="history">
	<div class="section-container">
		<h2 class="subtitle">SAY YES! — это 10 лет проверенного качества обучения, подтвержденного
			<a href="#" class="violent">лицензией и наградами</a>
			рейтинга Schoolrate</h2>
	</div>
	<div class="history__columns">
		<div class="history__left">
			{% include '../components/rewards.twig' %}
		</div>
		<div class="history__right">
			<img src="./assets/images/founders.png" alt="Основатели" class="history__img">
			<div class="comment">
				<h3 class="comment__title">Лицензия Министерства образования № 36801</h3>
				<p class="comment__description">Соответствует международным стандартам обучения. Вы также сможете получить налоговый вычет.</p>
			</div>
		</div>
	</div>
</section>
