<section class="img-courses">
	<h2 class="subtitle">Наша школа предлагает курсы английского языка для разных уровней знаний и в разнообразных форматах:</h2>
	<ul class="img-courses__blocks">
		{% include '../components/img-courses.twig' with {courses: courses3} %}
	</ul>
</section>
