<section class="img-courses-2">
	<h2 class="subtitle">Выберите необходимое для вас обучение:</h2>
	<ul class="img-courses__blocks">
		{% include '../components/img-courses.twig' with {courses: courses4} %}
	</ul>
</section>
