<section class="knowledge-check">
	<h2 class="subtitle">Узнайте уровень английского у вашего ребенка на пробном бесплатном уроке, где вы также:</h2>
	<div class="knowledge-check__content">
		{% include '../components/list.twig' with {list: knowledgeCheckList, classes: 'list--ul-sm list--central-marker'} %}

		<form action="POST" class="knowledge-check__form">
			<input type="text" placeholder="Имя родителя" class="knowledge-check__input"/>
			<input type="text" placeholder="+7 (999)-99-99" class="knowledge-check__input"/>
			<button class="btn btn--full">Записаться на бесплатный урок</button>
			{% include '../components/custom-checkbox.twig' with {checkboxName: 'knowledgeCheckCheckbox'} %}
		</form>
	</div>
</section>
