<section class="learning-form">
	<h2 class="subtitle">Формы обучения на курсе Английский с нуля</h2>
	<p class="learning-form__description">Вы можете проходить курс английского языка с нуля в различных форматах. Продолжительность и стоимость курса зависят от интенсивности и формата обучения.</p>
	<ul class="learning-form__blocks">
		{% include '../components/img-courses.twig' with {courses: courses8, page: 'adults-courses'} %}
	</ul>
</section>
