<section class="lessons-type">
	<div class="section-container">
		<h2 class="subtitle">Как вы хотите учиться?</h2>
		<p class="lessons-type__description">
			<span class="text text--violent">Очное</span>
			обучение в школе в центре Москвы или удобство
			<span class="text text--violent">онлайн</span>
			занятий?</p>

		<ul class="tabs">
			<li class="tabs__tab tabs__tab--violent">Курсы для взрослых</li>
			<li class="tabs__tab">Курсы для детей</li>
		</ul>
	</div>
	<div class="feedback">
		<div class="feedback__left">
			<div class="video">
				<img src="./assets/images/lessons-type.png" alt="Офлайн" class="video__bg">
				<button class="play"></button>
			</div>
		</div>
		<div class="feedback__right">
			<div class="about-person">
				<span class="about-person__tag">Офлайн группы</span>
				<span class="about-person__tag">Индивидуально</span>
				<h3 class="about-person__title">Цените живое общение и живете в Москве?</h3>
				<h4 class="about-person__mini-title">Прогресс за 3 месяца:</h4>
				<p class="about-person__description">Учите английский, обретайте новых друзей и весело проводите время с SAY YES! в кругу единомышленников. Наш офис разположен в пяти минутах ходьбы от метро Павелецкая.
				</p>
			</div>
		</div>
	</div>
</section>
