<sections class="mainscreen-teachers">
	<h1 class="title">Сильные и харизматичные преподаватели SAY YES! — главная причина вашего прогресса.</h1>
	<p class="mainscreen-teachers__description">Доверьте свой английский экспертам, кто прошел наш строгий отбор.</p>
  <button class="btn btn--yellow">Оставить заявку</button>
  <div class="split-image">
    <img src="https://c4.wallpaperflare.com/wallpaper/553/854/434/1920x1080-px-digital-art-fantasy-art-landscape-long-hair-ryky-trees-wind-anime-death-note-hd-art-wallpaper-preview.jpg" alt="Say Yes" class="split-image__first-img">
    <img src="https://img.uhdpaper.com/wallpaper/forest-scenery-watchtower-firewatch-digital-art-background-426@0@e-preview.jpg?dl" alt="Say Yes" class="split-image__second-img">
    {# <img src="./assets/images/split-img-1.png" alt="Say Yes" class="split-image__first-img">
    <img src="./assets/images/split-img-2.png" alt="Say Yes" class="split-image__second-img"> #}
  </div>
</sections>
