<section class="mainscreen">
	<div class="mainscreen__left">
		<h1 class="title">Исполняем мечты о свободном английском</h1>
		<ul class="main-list">
			<li class="main-list__item">
				<span class="main-list__primary">Очно</span>
				в Москве и
				<span class="main-list__primary">онлайн</span>
			</li>
			<li class="main-list__item">С заботой о вашем прогре ссе</li>
			<li class="main-list__item">В атмосфере дружбы и уюта</li>
		</ul>
	</div>
</section>
