<section class="mainscreen-big">
	{% if section == 'about' %}
		<h1 class="title">Школа английского языка SAY YES! С нами вы скажете «Да!» свободе общения с миром.</h1>
		<p class="mainscreen-big__description">Влюбляем в английский
			<br>
			и исполняем ваши мечты с 2013 года</p>
		<img src="./assets/images/mainscreen-about.png" alt="Say Yes" class="mainscreen-big__img">
	{% elseif section == 'methodology' %}
		<h1 class="title">Методика школы SAY YES! — это оптимальный и современный способ изучения языков.</h1>
		<p class="mainscreen-big__description">Мы выбираем комбинацию из коммуникативного подхода и собственных разработок в обучении.</p>
		<img src="./assets/images/main-screen-big-methodology.png" alt="Say Yes" class="mainscreen-big__img">
	{% endif %}
</section>
