<section class="part-of-team">
	<h2 class="subtitle">Готовы стать частью нашей дружной команды?</h2>
	<p class="part-of-team__description">Ждем ваше резюме на почту
		<a href="#" class="text text--violent">hr@sayes.ru</a>
		с пометкой какой формат преподавания (онлайн/офлайн/взрослые/дети) вам интересен.</p>
	<div class="part-of-team__img">
		<img src="./assets/images/mainscreen-about.png" alt="Say Yes">
	</div>
</section>
