<section class="platform">
	<div class="section-container">
		<h2 class="left-title">Собственная онлайн платформа</h2>
		<p class="platform__description">
			Для удобного и нескучного закрепления материала дома и проведения онлайн уроков
		</p>
		<div class="video">
			<img src="./assets/images/platform.png" alt="Собственная онлайн платформа" class="platform__img">
			<button class="play"></button>
		</div>
		<img src="./assets/images/platform-bg.png" alt="Собственная онлайн платформа" class="platform__bg">
	</div>
</section>
