<section class="reviews">
	<h2 class="subtitle">Благодарственные
		<span class="text text--violent">письма и отзывы</span>
		руководителей компаний</h2>
	<div class="slider">
		<div class="slider__arrows">
			<button class="slider__left-arrow"><</button>
      <button class="slider__right-arrow">></button>
		</div>
		<div class="slider__slide">
			<ul class="reviews__list">
				{% for item in reviews %}
					<li class="reviews__item">
						<img src="./assets/images/reviews/{{item.img}}.png" alt="{{item.name}}">
						<h4 class="reviews__name">{{item.name}}</h4>
					</li>
				{% endfor %}
			</ul>
		</div>
		<ul class="slider__dots">
			<li class="slider__dot"></li>
			<li class="slider__dot"></li>
			<li class="slider__dot"></li>
			<li class="slider__dot"></li>
			<li class="slider__dot"></li>
		</ul>
	</div>
</section>
