<section class="student-progress">
	<div class="section-container">
		<h2 class="progress__title">Наши ученики рассказывают
			<span class="text text--violent">о своем прогрессе</span>
		</h2>
		<p class="progress__description">
			Лучшие показатели нашей работы — это студенты, уверенно владеющие языком.
		</p>
		<p class="progress__description">
			Ученики рассказывают о своих результатах и процессе обучения в SAY YES! на английском:
		</p>
	</div>
	<div class="container">
		<div class="slider">
			<div class="slider__arrows">
				<button class="slider__left-arrow"><</button>
				<button class="slider__right-arrow">></button>
			</div>
			<div class="slider__slide">
				<div class="feedback">
					<div class="feedback__left">
						<div class="video">
							<img src="./assets/images/slide-1.png" alt="Анастасия Король" class="video__bg">
							<button class="play"></button>
						</div>
						<div class="comment comment--sm comment--angle">
							<p class="commet__description">«Теперь я общаюсь даже с иностранными партнерами на работе!»</p>
						</div>
					</div>
					<div class="feedback__right">
						<div class="about-person">
							<h3 class="about-person__title">Цените живое общение и живете в Москве?</h3>
							<p class="about-person__description">Освоила закономерности и логику построения предложений, начала понимать на слух речь носителей на своем уровне лексики.</p>
							<h4 class="about-person__mini-title">Преподаватель:</h4>
							<a href="#" class="about-person__link">Ирина Прихожева</a>
							<h4 class="about-person__mini-title">Преподаватель:</h4>
							<a href="#" class="about-person__link">Ирина Прихожева</a>
						</div>
					</div>
				</div>


			</div>
			<ul class="slider__dots">
				<li class="slider__dot"></li>
				<li class="slider__dot"></li>
				<li class="slider__dot"></li>
				<li class="slider__dot"></li>
				<li class="slider__dot"></li>
			</ul>
		</div>
	</div>
</section>
