<section class="tangible-result">
	<h2 class="tangible-result__title">Английский <span class="text text--violent">с ощутимым результатом</span> уже через месяц занятий</h2>
	<p class="tangible-result__description">Команда преподавателей отвечает за ваш прогресс, а менеджеры создают приятную атмосферу, в которую хочется возвращаться</p>
</section>
