<section class="trial-lesson">
	<div class="trial-lesson__title">
		<h2 class="subtitle">Запишитесь на
			<span class="text text--violent">бесплатный</span>
			пробный урок</h2>
	</div>
	<p class="trial-lesson__description">На уроке вы узнаете свой уровень, оцените методику школы, познакомитесь с преподавателем</p>
	<div class="invite">
		<ul class="invite__tabs">
			<li class="invite__tab invite__tab--active">Взрослым</li>
			<li class="invite__tab">Детям</li>
		</ul>
		<div class="invite__content">
			<div class="invite__left">
				<div class="invite__title">
					<div class="subtitle">Оставьте заявку на пробный урок</div>
				</div>
				<p class="invite__description">Мы свяжемся с вами, запишем на урок, ответим на вопросы, и расскажем о курсах</p>
			</div>
			<div class="invite__right">
				<form action="POST" class="invite__form">
					<h3 class="invite__format">Выберите желаемый формат обучения:</h3>
					<div class="invite__radio-buttons">
						<label class="invite__radio-btn">
							<input type="radio" name="format"/>
							Очно в Москве
						</label>
						<label class="invite__radio-btn">
							<input type="radio" name="format"/>
							Онлайн
						</label>
						<label class="invite__radio-btn">
							<input type="radio" name="format"/>
							Не знаю
						</label>
					</div>
					<input type="text" placeholder="Имя" name="name" class="invite__input-text"/>
					<input type="tel" placeholder="+7 (999) 999-99-99" pattern="\+7 \(\d{3}\) \d{3}-\d{2}-\d{2}" name="phone" class="invite__input-text"/>
					<div class="invite__communication">
						Выберите удобный способ связи:
						<select name="select" class="invite__input-select">
							<option value="value1" selected>Позвонить мне</option>
							<option value="value2">Напишите мне в WhatsApp</option>
							<option value="value3">Напишите мне в Telegram
							</option>
						</select>
					</div>
					<button class="btn">Оставить заявку</button>
					<div class="invite__policy">
						<input type="checkbox">
						Я согласен с политикой обработки персональных данных
					</div>
				</form>
			</div>
		</div>
		<img src="./assets/images/pictures/invite.png" alt="Invite" class="invite__bg">
	</div>
</section>
