<section class="trial-lesson-mini">
	<h2 class="trial-lesson-mini__title"><button class="trial-lesson-mini__btn feedback-btn">Оставьте заявку</button>на пробный урок, и уже через месяц вы почувствуете свой прогресс</h2>
	<img src="./assets/images/decoration/elements/hourglass.svg" alt="Песочные часы" class="trial-lesson-mini__hourglass-icon">
	<img src="./assets/images/decoration/elements/book-with-pen.svg" alt="Книга" class="trial-lesson-mini__book-icon">
	<img src="./assets/images/decoration/elements/statue-of-liberty.svg" alt="Статуя свободы" class="trial-lesson-mini__statue-of-liberty-icon">
</section>
