@mixin breakpoint($bp) {
	@media (max-width: $bp) {
		@content;
	}
}

@mixin hover-active($styles...) {
	$changes: ();

	@for $i from 1 through calc(length($styles)) / 2 {
		$property: nth($styles, $i * 2 - 1);
		$value: nth($styles, $i * 2);

		$changes: append($changes, ($property, $value), comma);
	}

	transition: 0.3s ease all;

	&:hover {
		@each $change in $changes {
			#{nth($change, 1)}: lighten(nth($change, 2), 5%);
		}
	}

	&:active {
		@each $change in $changes {
			#{nth($change, 1)}: darken(nth($change, 2), 5%);
		}
	}
}
