@import "vars";
@import "vendor/reset";

body {
	background-color: $pearl-white;
	font-size: 24px;
	color: $black;
	font-family: "Raleway", sans-serif;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

.title {
	font-size: 68px;
	color: $white;
	font-weight: 700;
	line-height: 60px;
}

a {
	text-decoration: none;
}

.container {
	max-width: 1276px;
	margin: 0 auto;
}

@import "blocks/invite";
@import "blocks/violent";
@import "blocks/subtitle";
@import "blocks/trial-lesson";
@import "blocks/main-list";
@import "blocks/mainscreen";
@import "blocks/social";
@import "blocks/phone-numbers";
@import "blocks/btn";
@import "blocks/logo";
@import "blocks/header";
@import "blocks/footer";
