@import "vars";
@import "vendor/reset";

body {
	background-color: $pearl-white;
	font-size: 24px;
	color: $black;
	font-family: "Raleway", sans-serif;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

.title {
	font-size: 68px;
	color: $white;
	font-weight: 700;
	line-height: 60px;
}

a {
	text-decoration: none;
}

.container {
	max-width: 1276px;
	margin: 0 auto;
}

@import "blocks/course-selection";
@import "blocks/course";
@import "blocks/courses";
@import "blocks/reward";
@import "blocks/history";
@import "blocks/trial-lesson-mini";
@import "blocks/about-person";
@import "blocks/comment";
@import "blocks/slider";
@import "blocks/progress";
@import "blocks/atmosphere";
@import "blocks/platform";
@import "blocks/dream-team";
@import "blocks/left-title";
@import "blocks/section-container";
@import "blocks/practice";
@import "blocks/play";
@import "blocks/advantage";
@import "blocks/central-text";
@import "blocks/invite";
@import "blocks/violent";
@import "blocks/subtitle";
@import "blocks/trial-lesson";
@import "blocks/main-list";
@import "blocks/mainscreen";
@import "blocks/social";
@import "blocks/phone-numbers";
@import "blocks/btn";
@import "blocks/logo";
@import "blocks/header";
@import "blocks/footer";
