@import "vars";
@import "vendor/reset";

body {
	background-color: $pearl-white;
	font-size: 24px;
	color: $black;
	font-family: "Raleway", sans-serif;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

.container {
	max-width: 1276px;
	margin: 0 auto;
}

@import "blocks/social";
@import "blocks/phone-numbers";
@import "blocks/btn";
@import "blocks/logo";
@import "blocks/header";
@import "blocks/footer";
