{% extends '../layouts/base.twig' %}

{% block content %}
	<section class="mainscreen">
		<div class="mainscreen__left">
			<h1 class="title">Исполняем мечты о свободном английском</h1>
			<ul class="main-list">
				<li class="main-list__item">
					<span class="main-list__primary">Очно</span>
					в Москве и
					<span class="main-list__primary">онлайн</span>
				</li>
				<li class="main-list__item">С заботой о вашем прогре ссе</li>
				<li class="main-list__item">В атмосфере дружбы и уюта</li>
			</ul>
		</div>
	</section>

	<section class="trial-lesson">
		<div class="trial-lesson__title">
			<h2 class="subtitle">Запишитесь на
				<span class="violent">бесплатный</span>
				пробный урок</h2>
		</div>
		<p class="trial-lesson__description">На уроке вы узнаете свой уровень, оцените методику школы, познакомитесь с преподавателем</p>
		<div class="invite">
			<ul class="invite__tabs">
				<li class="invite__tab invite__tab--active">Взрослым</li>
				<li class="invite__tab">Детям</li>
			</ul>
			<div class="invite__content">
				<div class="invite__left">
					<div class="invite__title">
						<div class="subtitle">Оставьте заявку на пробный урок</div>
					</div>
					<p class="invite__description">Мы свяжемся с вами, запишем на урок, ответим на вопросы, и расскажем о курсах</p>
				</div>
				<div class="invite__right">
					<form action="POST" class="invite__form">
						<h3 class="invite__format">Выберите желаемый формат обучения:</h3>
						<div class="invite__radio-buttons">
							<label class="invite__radio-btn">
								<input type="radio" name="format"/>
								Очно в Москве
							</label>
							<label class="invite__radio-btn">
								<input type="radio" name="format"/>
								Онлайн
							</label>
							<label class="invite__radio-btn">
								<input type="radio" name="format"/>
								Не знаю
							</label>
						</div>
						<input type="text" placeholder="Имя" name="name" class="invite__input-text"/>
						<input type="tel" placeholder="+7 (999) 999-99-99" pattern="\+7 \(\d{3}\) \d{3}-\d{2}-\d{2}" name="phone" class="invite__input-text"/>
						<div class="invite__communication">
							Выберите удобный способ связи:
							<select name="select" class="invite__input-select">
								<option value="value1" selected>Позвонить мне</option>
								<option value="value2">Напишите мне в WhatsApp</option>
								<option value="value3">Напишите мне в Telegram
								</option>
							</select>
						</div>
						<button class="btn">Оставить заявку</button>
						<div class="invite__policy">
							<input type="checkbox">
							Я согласен с политикой обработки персональных данных
						</div>
					</form>
				</div>
			</div>
			<img src="./assets/images/bg/invite-bg.png" alt="Invite" class="invite__bg">
		</div>
	</section>

	<section class="central-text">
		<h2 class="central-text__title">Английский
			<span class="violent">с ощутимым результатом</span>
			уже через месяц занятий</h2>
		<p class="central-text__description">Команда преподавателей отвечает за ваш прогресс, а менеджеры создают приятную атмосферу, в которую хочется возвращаться</p>
	</section>

	<section class="practice">
		<div class="section-container">
			<h2 class="left-title">Максимальная практика английского языка</h2>
			<div class="practice__content">
				<p class="practice__description">С первого занятия 70% урока говорите вы. Ведь чтобы научиться говорить на языке - нужно очень много практиковать.</p>
				<img src="./assets/images/practice.png" alt="Практика" class="practice__img">
			</div>
		</div>
	</section>

	<section class="dream-team">
		<div class="section-container">
			<h2 class="left-title">Преподаватели мечты</h2>
			<div class="dream-team__content">
				<div class="dream-team__text">
					<p class="dream-team__description">Влюблены в свое дело и не дадут скучать. Преподаватель SAY YES!  — это опытный,  харизматичный и современный педагог.</p>
					<a href="#" class="dream-team__link">Все преподаватели</a>
					<p class="dream-team__offer">Оставьте заявку, мы подберем вам преподавателя и расскажем о курсах</p>
				</div>
				<img src="./assets/images/dream-team.png" alt="Команда мечты" class="dream-team__img">
				<div class="dream-team__right-content">
					<div class="dream-team__blocks">
						<div class="advantage">
							<div class="advantage__numbering">1</div>
							<div class="advantage__title">из 58 кандидатов</div>
							<div class="advantage__description">проходит отбор</div>
						</div>
						<div class="advantage">
							<div class="advantage__numbering">2</div>
							<div class="advantage__title">месяца</div>
							<div class="advantage__description">педагоги обучаются методике Школы</div>
						</div>
						<div class="advantage">
							<div class="advantage__numbering">8</div>
							<div class="advantage__title">лет</div>
							<div class="advantage__description">— средний стаж преподавателя</div>
						</div>
					</div>
					<button class="btn btn--yellow btn--full">Оставить заявку</button>
				</div>
			</div>
		</div>
	</section>

	<section class="platform">
		<div class="section-container">
			<h2 class="left-title">Собственная онлайн платформа</h2>
			<p class="platform__description">
				Для удобного и нескучного закрепления материала дома и проведения онлайн уроков
			</p>
			<div class="platform__video">
				<img src="./assets/images/platform.png" alt="Собственная онлайн платформа" class="platform__img">
				<btn class="play"></btn>
			</div>
			<img src="./assets/images/platform-bg.png" alt="Собственная онлайн платформа" class="platform__bg">
		</div>
	</section>

	<section class="atmosphere">
		<div class="section-container">
			<h2 class="left-title">Атмосфера «второго дома»</h2>
			<p class="atmosphere__description">
				SAY YES! это место, куда хочется возвращаться. Мы создаем дружескую атмосфру и проводим мероприятия для погружения в языковую среду.
			</p>
			<div class="atmosphere__trip">
				<p class="atmosphere__trip-text">Совместные выезды</p>
				<img src="./assets/images/trip.png" alt="Совместные выезды" class="atmosphere__trip-img">
				<img src="./assets/images/atmosphere-tip-1.png" alt="Английский на пикнике" class="atmosphere__trip-tip">
			</div>
			<div class="atmosphere__celebrations">
				<ul class="atmosphere__celebrations-list">
					<li class="atmosphere__celebrations-item">Отмечаем праздники вместе</li>
					<li class="atmosphere__celebrations-item">Онлайн встречи</li>
					<li class="atmosphere__celebrations-item">Караоке на перемене</li>
				</ul>
				<div class="atmosphere__celebrations-images">
					<img src="./assets/images/meeting-1.png" alt="Отмечаем праздники вместе" class="atmosphere__celebration-img">
					<img src="./assets/images/meeting-2.png" alt="Отмечаем праздники вместе" class="atmosphere__celebration-img">
				</div>
				<img src="./assets/images/atmosphere-tip-2.png" alt="Отмечаем завевершение обучения" class="atmosphere__celebrations-tip">
			</div>
		</div>
	</section>

	<section class="progress">
		<div class="section-container">
			<h2 class="progress__title">Наши ученики рассказывают
				<span class="violent">о своем прогрессе</span>
			</h2>
			<p class="progress__description">
				Лучшие показатели нашей работы — это студенты, уверенно владеющие языком.
			</p>
			<p class="progress__description">
				Ученики рассказывают о своих результатах и процессе обучения в SAY YES! на английском:
			</p>
		</div>
		<div class="container">
			<div class="slider">
				<div class="slider__arrows">
					<button class="slider__left-arrow"><</button>
					<button class="slider__right-arrow">></button>
				</div>
				<div class="slider__slide">
					<div class="slider__left">
						<div class="slider__video">
							<img src="./assets/images/slide-1.png" alt="Анастасия Король" class="slider__video-img">
							<button class="play"></button>
						</div>
						<div class="comment">
							«Теперь я общаюсь даже с иностранными партнерами на работе!»
						</div>
					</div>
					<div class="slider__right">
						<div class="about-person">
							<h3 class="about-person__title">Анастасия Король</h3>
							<h4 class="about-person__mini-title">Анастасия Король</h4>
							<p class="about-person__description">Освоила закономерности и логику построения предложений, начала понимать на слух речь носителей на своем уровне лексики.</p>
							<h4 class="about-person__mini-title">Преподаватель:</h4>
							<a href="#" class="about-person__link">Ирина Прихожева</a>
							<h4 class="about-person__mini-title">Преподаватель:</h4>
							<a href="#" class="about-person__link">Ирина Прихожева</a>
						</div>

					</div>
				</div>
				<ul class="slider__dots">
					<li class="slider__dot"></li>
					<li class="slider__dot"></li>
					<li class="slider__dot"></li>
					<li class="slider__dot"></li>
					<li class="slider__dot"></li>
				</ul>
			</div>
		</div>
	</section>

	<section class="trial-lesson">
		<div class="trial-lesson__title">
			<h2 class="subtitle">Запишитесь на
				<span class="violent">бесплатный</span>
				пробный урок</h2>
		</div>
		<p class="trial-lesson__description">На уроке вы узнаете свой уровень, оцените методику школы, познакомитесь с преподавателем</p>
		<div class="invite">
			<ul class="invite__tabs">
				<li class="invite__tab invite__tab--active">Взрослым</li>
				<li class="invite__tab">Детям</li>
			</ul>
			<div class="invite__content">
				<div class="invite__left">
					<div class="invite__title">
						<div class="subtitle">Оставьте заявку на пробный урок</div>
					</div>
					<p class="invite__description">Мы свяжемся с вами, запишем на урок, ответим на вопросы, и расскажем о курсах</p>
				</div>
				<div class="invite__right">
					<form action="POST" class="invite__form">
						<h3 class="invite__format">Выберите желаемый формат обучения:</h3>
						<div class="invite__radio-buttons">
							<label class="invite__radio-btn">
								<input type="radio" name="format"/>
								Очно в Москве
							</label>
							<label class="invite__radio-btn">
								<input type="radio" name="format"/>
								Онлайн
							</label>
							<label class="invite__radio-btn">
								<input type="radio" name="format"/>
								Не знаю
							</label>
						</div>
						<input type="text" placeholder="Имя" name="name" class="invite__input-text"/>
						<input type="tel" placeholder="+7 (999) 999-99-99" pattern="\+7 \(\d{3}\) \d{3}-\d{2}-\d{2}" name="phone" class="invite__input-text"/>
						<div class="invite__communication">
							Выберите удобный способ связи:
							<select name="select" class="invite__input-select">
								<option value="value1" selected>Позвонить мне</option>
								<option value="value2">Напишите мне в WhatsApp</option>
								<option value="value3">Напишите мне в Telegram
								</option>
							</select>
						</div>
						<button class="btn">Оставить заявку</button>
						<div class="invite__policy">
							<input type="checkbox">
							Я согласен с политикой обработки персональных данных
						</div>
					</form>
				</div>
			</div>
			<img src="./assets/images/bg/invite-bg.png" alt="Invite" class="invite__bg">
		</div>
	</section>
{% endblock %}
