{% extends '../layouts/base.twig' %}

{% block content %}
	<section class="mainscreen">
		<div class="mainscreen__left">
			<h1 class="title">Исполняем мечты о свободном английском</h1>
			<ul class="main-list">
				<li class="main-list__item">
					<span class="main-list__primary">Очно</span>
					в Москве и
					<span class="main-list__primary">онлайн</span>
				</li>
				<li class="main-list__item">С заботой о вашем прогре ссе</li>
				<li class="main-list__item">В атмосфере дружбы и уюта</li>
			</ul>
		</div>
	</section>

	<section class="trial-lesson">
		<div class="trial-lesson__title">
			<h2 class="subtitle">Запишитесь на
				<span class="violent">бесплатный</span>
				пробный урок</h2>
		</div>
		<p class="trial-lesson__description">На уроке вы узнаете свой уровень, оцените методику школы, познакомитесь с преподавателем</p>
		<div class="invite">
			<ul class="invite__tabs">
				<li class="invite__tab invite__tab--active">Взрослым</li>
				<li class="invite__tab">Детям</li>
			</ul>
			<div class="invite__content">
				<div class="invite__left">
					<div class="invite__title">
						<div class="subtitle">Оставьте заявку на пробный урок</div>
					</div>
					<p class="invite__description">Мы свяжемся с вами, запишем на урок, ответим на вопросы, и расскажем о курсах</p>
				</div>
				<div class="invite__right">
					<form action="POST" class="invite__form">
						<h3 class="invite__format">Выберите желаемый формат обучения:</h3>
						<div class="invite__radio-buttons">
							<label class="invite__radio-btn">
								<input type="radio" name="format"/>
								Очно в Москве
							</label>
							<label class="invite__radio-btn">
								<input type="radio" name="format"/>
								Онлайн
							</label>
							<label class="invite__radio-btn">
								<input type="radio" name="format"/>
								Не знаю
							</label>
						</div>
						<input type="text" placeholder="Имя" name="name" class="invite__input-text"/>
						<input type="tel" placeholder="+7 (999) 999-99-99" pattern="\+7 \(\d{3}\) \d{3}-\d{2}-\d{2}" name="phone" class="invite__input-text"/>
						<div class="invite__communication">
							Выберите удобный способ связи:
							<select name="select" class="invite__input-select">
								<option value="value1" selected>Позвонить мне</option>
								<option value="value2">Напишите мне в WhatsApp</option>
								<option value="value3">Напишите мне в Telegram
								</option>
							</select>
						</div>
						<button class="btn">Оставить заявку</button>
						<div class="invite__policy">
							<input type="checkbox">
							Я согласен с политикой обработки персональных данных
						</div>
					</form>
				</div>
			</div>
			<img src="./../assets/images/bg/invite-bg.png" alt="Invite" class="invite__bg">
		</div>
	</section>

	<section class="central-text">
		<h2 class="central-text__title">Английский
			<span class="violent">с ощутимым результатом</span>
			уже через месяц занятий</h2>
		<p class="central-text__description">Команда преподавателей отвечает за ваш прогресс, а менеджеры создают приятную атмосферу, в которую хочется возвращаться</p>
	</section>

	<section class="advantages">
		<h2 class="advantages-title">Максимальная практика английского языка</h2>
		<div class="advantages__practice">
			<p class="advantages-description">С первого занятия 70% урока говорите вы. Ведь чтобы научиться говорить на языке - нужно очень много практиковать.</p>
			<img src="./../assets/images/advanteges/practice.jpg" alt="Practice" class="advanteges__practice-img">
		</div>

		<h2 class="advantages-title">Преподаватели мечты</h2>
		<div class="advantages__dream-team">
			<div class="advantages__dream-team-left">
				<p class="advantages-description">Влюблены в свое дело и не дадут скучать. Преподаватель SAY YES!  — это опытный,  харизматичный и современный педагог.</p>
				<a href="#" class="advantages__link">Все преподаватели</a>
				<p class="advantages__request">Оставьте заявку, мы подберем вам преподавателя и расскажем о курсах</p>
			</div>
			<div class="advantages__dream-team-right">
				<img src="./../assets/images/advanteges/dream-team.jpg" alt="Dream team" class="advanteges__teacher-img">
				<div class="advantages__teacher-content">
					<div class="advantages__blocks">
						<div class="advantage">
							<div class="advantage__numbering">1</div>
							<div class="advantage__title">из 58 кандидатов</div>
							<div class="advantage__description">проходит отбор</div>
						</div>
						<div class="advantage">
							<div class="advantage__numbering">2</div>
							<div class="advantage__title">месяца</div>
							<div class="advantage__description">педагоги обучаются методике Школы</div>
						</div>
						<div class="advantage">
							<div class="advantage__numbering">8</div>
							<div class="advantage__title">лет</div>
							<div class="advantage__description">— средний стаж преподавателя</div>
						</div>
					</div>
					<button class="btn btn--yellow btn--full">Оставить заявку</button>
				</div>
			</div>
		</div>


		{# <h2 class="advantages-title">Собственная онлайн платформа</h2>
				<div class="advantages__platform">
					<p class="advantages__platform-title">Для удобного и нескучного закрепления материала дома и проведения онлайн уроков</p>
					<div class="advantages__platform-video">
						<img src="./../assets/images/advanteges/platform.png" alt="">
					</div>
				</div> #}
	</section>
{% endblock %}
