.all-teachers {
	margin-bottom: 100px;

	.subtitle {
		max-width: 880px;
		margin-bottom: 20px;
	}

	.btn {
		display: block;
		margin: 0 auto;

		font-size: 18px;
		font-weight: 700;
	}

	.cards {
		margin-bottom: 40px;
	}

	&__description {
		max-width: 720px;
		margin-bottom: 10px;

		font-size: 18px;
		font-weight: 600;
		line-height: 20px;

		&:last-of-type {
			margin-bottom: 40px;
		}
	}
}
