.behind-the-scenes {
	padding: 100px 110px;
	margin-bottom: 151px;
	position: relative;

	border-radius: $border-radius;
	background-color: $white;

	&::before,
	&::after {
		content: "";
		position: absolute;
	}

	&::before {
		width: 1257px;
		height: 2304px;
		top: 291px;
		left: -4px;
		background: url("../../assets/images/decoration/elements/confetti-2.svg")
			center center/cover no-repeat;
	}

	&::after {
		width: 1626px;
		height: 1892px;
		top: 524px;
		left: -225px;
		background: url("../../assets/images/decoration/elements/confetti-3.svg")
			center center/cover no-repeat;
	}

	.subtitle {
		max-width: 622px;
		margin-bottom: 23px;
	}

	&__description {
		font-size: 24px;
		font-weight: 600;
		line-height: 25px;

		margin-bottom: 10px;
		max-width: 829px;
	}

	&__gallery {
		display: grid;
		grid-template-areas:
			". . . a a a a a a a"
			"b b b b b b c c c c"
			"d d d d d d c c c c"
			"e e e e f f f f f f"
			"e e e e g g g g g g";
		gap: 20px;
		margin-top: 50px;
	}

	&__item {
		position: relative;

		&:nth-child(1) {
			grid-area: a;

			&::before {
				content: "";
				width: 155px;
				height: 155px;
				position: absolute;
				top: 22px;
				left: -220px;
				background: url("../../assets/images/decoration/notes/celebration.svg")
					center center/cover no-repeat;
			}
		}

		&:nth-child(2) {
			grid-area: b;

			&::before {
				content: "";
				width: 249px;
				height: 176px;
				position: absolute;
				top: -215px;
				left: -132px;
				background: url("../../assets/images/decoration/elements/petard.svg")
					center center/cover no-repeat;
			}
		}

		&:nth-child(3) {
			grid-area: c;

			&::before {
				content: "";
				width: 198px;
				height: 133px;
				position: absolute;
				bottom: 92px;
				right: -164px;
				background: url("../../assets/images/decoration/elements/bat.svg")
					center center/cover no-repeat;
			}
		}

		&:nth-child(4) {
			grid-area: d;

			&::before {
				content: "";
				width: 193px;
				height: 119px;
				position: absolute;
				top: 237px;
				right: -238px;
				background: url("../../assets/images/decoration/notes/fun.svg")
					center center/cover no-repeat;
			}
		}

		&:nth-child(5) {
			grid-area: e;

			&::before {
				content: "";
				width: 190px;
				height: 256px;
				position: absolute;
				bottom: -17px;
				left: -142px;
				background: url("../../assets/images/decoration/elements/star-cup.svg")
					center center/cover no-repeat;
			}
		}

		&:nth-child(6) {
			grid-area: f;
		}

		&:nth-child(7) {
			grid-area: g;

			&::before {
				content: "";
				width: 153px;
				height: 96px;
				position: absolute;
				top: 223px;
				left: -260px;
				background: url("../../assets/images/decoration/notes/awards.svg")
					center center/cover no-repeat;
			}
		}
	}
}
