.btn {
	display: inline-block;
	min-height: 60px;
	min-width: 400px;
	text-align: center;

	background-color: $black;
	color: $white;
	font-size: 14px;
	font-weight: 700;
	border: none;
	border-radius: $border-radius-bg;

	&--yellow {
		background-color: $yellow;
		color: $black;
	}

	&--violent {
		background-color: $violent;
		color: $white;
	}

	&--transparent {
		background-color: transparent;
		border: 2px solid $white;
		color: $white;
	}

	&--uppercase {
		text-transform: uppercase;
	}

  &--sm {
    min-width: 200px;
    min-height: 40px;
  }

	&--full {
		width: 100%;
	}
}

// btn--transparent btn--uppercase
