.children-advantages {
	margin-bottom: 150px;

	.subtitle {
		max-width: 910px;
		margin-bottom: 50px;
	}

	.text-block--sm-text {
		justify-content: flex-start;
		min-height: 500px;
		padding: 185px 30px 30px 46px;

		.text-block__title {
			position: absolute;
			margin: 0px 0 55px;
			max-width: 215px;

			font-size: 24px;
			line-height: 25px;
		}

		.text-block__description {
			margin-top: 130px;

			font-size: 18px;
			line-height: 20px;
		}
	}

	&__blocks {
		display: flex;
		justify-content: space-between;
		gap: 20px;
	}
}
