.cooperation {
	display: flex;
	justify-content: space-between;
	gap: 20px;

	.btn {
		font-size: 18px;
		font-weight: 700;
	}

	&__preview {
		flex-basis: 520px;
		min-height: 750px;
		padding: 50px 38px 0 0;
		display: flex;
		justify-content: flex-end;
		position: relative;

		background-color: $grey;
		border-radius: $border-radius;
	}

	&__name {
		font-weight: 700;
		margin-bottom: 10px;
		font-style: italic;
		font-size: 18px;
		line-height: 20px;
	}

	&__person-about {
		font-weight: 500;
		max-width: 160px;
		font-style: italic;
		font-size: 18px;
		line-height: 20px;
	}

	&__img {
		position: absolute;
		bottom: 0;
	}

	&__content {
		flex-basis: 736px;
		padding: 60px 42px 50px 114px;

		background-color: $white;
		border-radius: $border-radius;
	}

	&__list {
		margin-bottom: 60px;
	}

	&__item {
		margin-bottom: 25px;
		position: relative;
	}

	&__item-title {
		font-size: 24px;
		font-weight: 800;
		line-height: 25px;

		margin-bottom: 15px;
	}

	&__item-description {
		font-size: 24px;
		font-weight: 600;
		line-height: 25px;
	}

	&--profitable-cooperation {
		.cooperation__img {
			left: -142px;
		}

		.cooperation__item {
			&::before {
				content: "";
				width: 46px;
				height: 44px;
				position: absolute;
				top: 0;
				left: -65px;
				background: url("../../assets/images/check.svg") center
					center/contain no-repeat;
			}
		}
	}

	&--getting-started {
		.cooperation__person-about {
			max-width: 200px;
		}

		.cooperation__img {
			left: -52px;
		}

		.cooperation__content {
			align-self: flex-end;
			padding: 44px 74px 51px 142px;
		}

		.cooperation__list {
			counter-reset: myCounter;
		}

		.cooperation__item {
			&::before {
				content: "Шаг " counter(myCounter) ".";
				counter-increment: myCounter;
				position: absolute;
				top: 3px;
				left: -94px;
				font-size: 24px;
				font-weight: 800;
				line-height: 20px;
			}
		}
	}
}
