.cooperation {
	display: flex;
	justify-content: space-between;
	gap: 20px;

	.btn {
		display: block;
		margin: 35px auto 50px;

		font-size: 18px;
		font-weight: 700;
	}

	&__preview {
		flex-basis: 520px;
		min-height: 750px;
		padding: 50px 38px 0 0;
		display: flex;
		justify-content: flex-end;
		position: relative;

		background-color: $grey;
		border-radius: $border-radius;
	}

	&__name {
		font-weight: 700;
		margin-bottom: 10px;
		font-style: italic;
		font-size: 18px;
		line-height: 20px;
	}

	&__person-about {
		font-weight: 500;
		max-width: 160px;
		font-style: italic;
		font-size: 18px;
		line-height: 20px;
	}

	&__img {
		position: absolute;
		bottom: 0;
	}

	&__content {
		flex-basis: 736px;

		background-color: $white;
		border-radius: $border-radius;
	}

	&--profitable-cooperation {
		.cooperation__img {
			left: -142px;
		}
	}

	&--getting-started {
		.list {
			padding: 38px 90px 41px 143px;
		}

		.btn {
			margin-top: 50px
		}

		.cooperation__person-about {
			max-width: 200px;
		}

		.cooperation__img {
			left: -52px;
		}

		.cooperation__content {
			align-self: flex-end;
		}
	}
}
