.course-selection {
	background-color: $white;
	border-radius: $border-radius;

	padding: 49px 67px 50px 52px;

	&__title {
		color: $black;
		font-size: 24px;
		font-weight: 600;
		line-height: 25px;

		margin-bottom: 40px;
		max-width: 398px;
	}

	&__description {
		color: $black;
		font-size: 46px;
		font-weight: 700;
		line-height: 45px;

		margin-bottom: 120px;
		max-width: 397px;
	}
}
