.course-feedback {
	margin-bottom: 250px;

	.subtitle {
		max-width: 470px;
		margin-bottom: 25px;
	}

	.btn {
		margin: 50px auto 0;
		display: block;
	}

	.slider {
		max-width: 100%;
		margin-bottom: 0;
	}

	.slider__arrows {
		top: -80px;
		right: -5px;
	}

	.slider__dots {
		bottom: -100px;
		left: 50%;
		transform: translateX(-50%);
	}

	&__description {
		max-width: 590px;
		margin-bottom: 50px;

		font-size: 24px;
		font-weight: 600;
		line-height: 25px;
	}

	&__rating {
		margin: 0 0 50px 50px;
		display: flex;
		align-items: center;
		gap: 30px;
	}

	&__rating-value {
		font-size: 68px;
		font-weight: 700;
		line-height: 70px;
	}

	&__rating-info {
		margin-top: 7px;

		font-size: 24px;
		font-weight: 800;
		line-height: 25px;
	}

	&__rating-zoon {
		margin-top: 7px;
	}

	&__block {
		padding: 36px 100px 60px;
		width: 1476px;
		transform: translateX(-100px);

		border-radius: $border-radius;
		background-color: $yellow;
	}

	&__cards {
		display: flex;
		justify-content: space-between;
	}

	&__card {
		width: 628px;
		min-height: 625px;
		padding: 50px 40px 50px 50px;
		display: flex;
		flex-direction: column;

		background-color: $white;
		border-radius: $border-radius;
	}

	&__paragraph {
		font-size: 24px;
		font-weight: 600;
		line-height: 25px;

		&:not(:last-of-type) {
			margin-bottom: 20px;
		}
	}

	&__link {
		margin-top: auto;

		text-decoration: underline;
		color: $violent;
		font-size: 24px;
		font-weight: 600;
		line-height: 25px;
	}

	&__info {
		margin-top: 60px;
		display: flex;
		justify-content: space-between;
	}

	&__author {
		margin-bottom: 5px;

		font-size: 24px;
		font-weight: 800;
		line-height: 25px;
	}

	&__date {
		font-size: 24px;
		font-weight: 600;
		line-height: 25px;
	}

	&__offline {
		.course-feedback__block {
			background-color: $violent;
		}

		.course-feedback__rating {
			color: $white;
		}
	}
}
