.digits {
	display: flex;
	justify-content: space-between;
	margin-bottom: 140px;

	.subtitle {
		max-width: 216px;
	}

	&__list {
		width: 854px;
		display: flex;
		flex-wrap: wrap;
	}

	&__item {
		background-color: $yellow;
		border-radius: $border-radius;

		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 304px;
		min-height: 300px;
		padding: 63px 45px 45px;
		margin: 10px;

		&:nth-child(6n + 2),
		&:nth-child(6n + 4) {
			width: 520px;
		}

		&:nth-child(3n + 3) {
			width: 100%;
		}

		&:first-child,
		&:nth-child(2) {
			margin-top: 0;
		}

		&:nth-child(3n + 2),
		&:nth-child(3n + 3) {
			margin-right: 0;
		}

		&--default {
			background-color: $yellow;
		}

		&--white {
			background-color: $white;
		}
	}

	&__title {
		font-size: 120px;
		font-weight: 700;
		line-height: 60px;
	}

	&__description {
		font-size: 24px;
		font-weight: 600;
		line-height: 25px;
	}
}
