.effective-methods {
	margin-bottom: 150px;

	position: relative;

	.methods {
		&::before {
			content: "";
			position: absolute;
			top: -189px;
			right: 169px;
			width: 243px;
			height: 160px;
			background: url("../../assets/images/decoration/notes/combination-of-techniques.svg")
				center center/contain no-repeat;
		}
	}
}
