.expectations {
	margin-bottom: 80px;

	.subtitle {
		margin-bottom: 20px;
	}

	.text-block:not(.text-block--heart-bg) {
		overflow: visible;
	}

	&__description {
		font-size: 18px;
		font-weight: 600;
		line-height: 20px;

		max-width: 530px;
		margin-bottom: 40px;
	}
}
