.history {
	margin: 146px 0 151px;

	.subtitle {
		max-width: 921px;
		margin-bottom: 51px;
	}

	&__columns {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
	}

	&__left {
		position: relative;
		z-index: 1;
	}

	&__right {
		position: relative;

		&::before,
		&::after {
			content: "";
			width: 192px;
			height: 413px;
			position: absolute;
			background: url("../../assets/images/branch.png") center
				center/cover no-repeat;
		}

		&::before {
			top: -365px;
			left: -140px;
		}

		&::after {
			transform: scaleX(-1);
			top: -365px;
			right: -90px;
		}
	}

	&__img {
		position: absolute;
		top: -300%;
		left: -60%;
		z-index: 1;
	}
}
