.icon {
	display: flex;
	justify-content: center;
	align-items: center;

	div {
		display: none;

		svg * {
			fill: $black;
		}
	}

	&--tg {
		.icon__tg {
			display: flex;
		}
	}

	&--ws {
		.icon__ws {
			display: flex;
		}
	}

	&--pc {
		.icon__pc {
			display: flex;
		}
	}

	&--yt {
		.icon__yt {
			display: flex;
		}
	}

	&--inst {
		.icon__inst {
			display: flex;
		}
	}

	&--email {
		.icon__email {
			display: flex;
		}
	}

	&--teacher {
		.icon__teacher {
			display: block;
		}
	}

	&--time {
		.icon__time{
			display: flex;
		}
	}

	&--sm {
		svg {
			width: 15px;
			height: 15px;
		}
	}

	&--white {
		div {
			svg * {
				fill: $white;
			}
		}
	}
}
