.img-courses-2 {
	margin-bottom: 150px;

	.subtitle {
		max-width: 560px;
		margin-bottom: 49px;
	}

	.course-selection {
		align-self: flex-start;

		&__title {
			max-width: 320px;
		}
	}

	&__blocks {
		display: flex;
		flex-wrap: wrap;
		gap: 20px;
	}
}
