.img-comment {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin-bottom: 201px;

	&__picture {
		position: relative;
		width: 520px;
		height: 681px;
		overflow: hidden;

		background-color: $medium-magenta;
		border-radius: $border-radius;

		&::before {
			content: "";
			position: absolute;
		}
	}

	&__img {
		position: absolute;
		bottom: 0;
		left: -40px;
	}

	&--about {
		.img-comment__picture {
			&::before {
				top: 20px;
				left: 50%;
				transform: translateX(-50%);
				width: 291px;
				height: 141px;
				background: url("../../assets/images/founders-3.svg") center
					center/contain no-repeat;
			}
		}
	}

	&--speaking-club {
		.img-comment__picture {
			height: 750px;

			background-color: $violent;

			&::before {
				top: 55px;
				right: 55px;
				width: 158px;
				height: 168px;
				background: url("../../assets/images/decoration/notes/casey-speaker.svg")
					center center/contain no-repeat;
			}
		}

		.img-comment__img {
			left: 0;
		}
	}
}
