.list {
	padding: 60px 42px 25px 114px;

	background-color: $white;
	border-radius: $border-radius;

	&__item {
		position: relative;

		&:not(:last-child) {
			margin-bottom: 25px;
		}
	}

	&__title {
		font-size: 24px;
		font-weight: 800;
		line-height: 25px;

		margin-bottom: 15px;
	}

	&__description {
		font-size: 24px;
		font-weight: 600;
		line-height: 25px;
	}

	&--ul {
		.list__item {
			&::before {
				content: "";
				width: 46px;
				height: 44px;
				position: absolute;
				top: 0;
				left: -65px;
				background: url("../../assets/images/icons/check.svg") center
					center/contain no-repeat;
			}
		}
	}

	&--ol {
		counter-reset: myCounter;

		.list__item {
			&::before {
				content: "Шаг " counter(myCounter) ".";
				counter-increment: myCounter;
				position: absolute;
				top: 3px;
				left: -94px;
				font-size: 24px;
				font-weight: 800;
				line-height: 20px;
			}
		}
	}
}
