.main-list {
	color: $white;
	margin-left: 25px;
	font-size: 18px;

	&__item {
		margin-bottom: 10px;
		position: relative;

		&::before {
			content: "";
			display: inline-block;
			width: 10px;
			height: 18px;
			position: absolute;
			top: 50%;
			left: -20px;
			transform: translateY(-50%);
			background: url("../../assets/images/icons/pic.svg") center
				center/cover no-repeat;
		}
	}

	&__primary {
		color: $yellow;
	}
}
