.mainscreen-big {
	margin: 25px 0 100px;

	.title {
		color: $black;
		text-align: center;

		max-width: 800px;
		margin: 0 auto;
	}

	.btn {
		display: none;
		margin: 0 auto;
		margin-bottom: 70px;
	}

	.split-image {
		display: none;
	}

	&__description {
		text-align: center;
		margin: 20px auto 50px;

		font-size: 18px;
		font-weight: 600;
		line-height: 20px;
		max-width: 350px;
	}

	&__img {
		width: 100%;
		height: 560px;
		display: block;
		object-fit: cover;
		border-radius: $border-radius;
	}

	&--teachers,
	&--vacancies,
	&--price,
	&--education {
		.btn {
			display: block;
		}

		.split-image {
			display: block;
		}

		.mainscreen-big__img {
			display: none;
		}
	}

	&--adults,
	&--children,
	&--companies,
	&--adults-courses,
	&--children-courses,
	&--offline {
		.btn {
			display: block;
		}

		.title {
			max-width: 1060px;
			margin: 0 auto;
		}

		.mainscreen-big__description {
			max-width: 590px;
		}
	}

	&--progress {
		.title {
			max-width: 690px;
			margin: 0 auto;
		}

		.mainscreen-big__description {
			max-width: 1000px;
			margin-bottom: 70px;
		}
	}
}
