.mainscreen-big {
	margin: 53px 0 150px;

	.title {
		color: $black;
		text-align: center;

		max-width: 1240px;
	}

	.btn {
		display: none;
		margin: 0 auto;
		margin-bottom: 70px;
	}

	.split-image {
		display: none;
	}

	&__description {
		text-align: center;
		margin: 36px auto;

		font-size: 24px;
		font-weight: 600;
		line-height: 25px;
		max-width: 590px;
	}

	&--teachers,
	&--vacancies,
	&--price,
	&--education {
		.btn {
			display: block;
		}

		.split-image {
			display: block;
		}

		.mainscreen-big__img {
			display: none;
		}
	}

	&--adults,
	&--children,
	&--companies,
	&--adults-courses,
	&--offline {
		.btn {
			display: block;
		}

		.title {
			max-width: 1060px;
			margin: 0 auto;
		}

		.mainscreen-big__description {
			max-width: 590px;
		}
	}

	&--progress {
		.title {
			max-width: 690px;
			margin: 0 auto;
		}

		.mainscreen-big__description {
			max-width: 1000px;
			margin-bottom: 70px;
		}
	}
}
