.person-card {
	max-width: 412px;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	background-color: $white;
	border-radius: $border-radius;

	&__img {
		width: 100%;
	}

	&__content {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 50px;
		flex-grow: 1;

		&::before {
			content: "";
			position: absolute;
			bottom: 60px;
			left: -10px;
			width: 48px;
			height: 65px;
			background: url("../../assets/images/lightning.svg") center
				center/contain no-repeat;
		}
	}

	&__name {
		font-size: 24px;
		font-weight: 800;
		line-height: 25px;

		margin-bottom: 14px;
	}

	&__post {
		font-size: 24px;
		font-weight: 600;
		line-height: 25px;

		margin-bottom: 40px;
	}

	&__description {
		font-size: 24px;
		font-weight: 500;
		line-height: 25px;

		max-width: 363px;
		margin-top: auto;
	}

	&__text {
		font-variant-numeric: lining-nums proportional-nums;
		font-size: 24px;
		font-weight: 600;
		line-height: 25px;
	}

	&__title {
		max-width: 339px;
		margin-bottom: 18px;

		font-size: 46px;
		font-weight: 700;
		line-height: 45px;
	}

	&__subtitle {
		max-width: 287px;

		font-size: 24px;
		font-weight: 600;
		line-height: 25px;
	}

	&--pink-card {
		min-height: 410px;
		padding: 53px 35px 53px 49px;
		align-self: flex-start;

		background-color: $pink;
		color: $white;
	}

	&--text-card {
		width: 412px;
		display: block;
		background-color: transparent;

		&::before {
			content: "";
			width: 202px;
			height: 129px;
			position: absolute;
			bottom: 100px;
			right: 50px;
			background: url("../../assets/images/superpower.png") center
				center/cover no-repeat;
		}
	}
}
