.phone-numbers {
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;

	&__icon {
		margin-right: 10px;
	}

	&__item {
		&:not(:last-child) {
			margin-bottom: 2px;
		}
	}

	&__link {
		color: $white;
	}
}
