.platform {
	background-color: $white;
	padding: 50px 0;
	position: relative;

	.video {
		z-index: 1;
	}

	&__description {
		font-size: 18px;
		font-weight: 700;
		line-height: 20px;
		max-width: 425px;
		margin: 23px 0 52px;
	}

	&__bg {
		position: absolute;
		top: 45px;
		right: -100px;
	}
}
