.play {
	display: inline-block;
	width: 60px;
	height: 60px;

	border-radius: 100%;
	border: 2px solid $black;
	background: url("../../assets/images/icons/play.svg") center no-repeat
		#fffcff80;
	cursor: pointer;
}
