.tabs {
	max-width: 628px;
	display: flex;
	justify-content: space-between;

	font-size: 18px;
	font-weight: 700;
	line-height: 20px;

	&__tab {
		width: 309px;
		min-height: 50px;
		display: flex;
		justify-content: center;
		align-items: center;

		&:first-child {
			background-color: $yellow;
			border-radius: $border-radius 0 0 $border-radius;
		}

		&:last-child {
			background-color: $white;
			border-radius: 0 $border-radius $border-radius 0;
		}

		&--violent {
			&:first-child {
        color: $white;
				background-color: $violent;
			}
		}

		&--magenta {
			&:first-child {
        color: $white;
				background-color: $medium-magenta;
			}
		}
	}
}
