.text-block {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 412px;
	min-height: 350px;
	padding: 41px 88px 46px 47px;
	margin-bottom: 20px;
	position: relative;

	background-color: $white;
	border-radius: $border-radius;

	&__title {
		font-size: 46px;
		font-weight: 700;
		line-height: 45px;

		margin-top: 35px;
	}

	&__tip {
		font-size: 24px;
		font-weight: 800;
		line-height: 25px;
	}

	&__description {
		font-size: 24px;
		font-weight: 600;
		line-height: 25px;
	}

	&--big {
		width: 844px;
		min-height: 400px;

		.text-block__title {
			max-width: 520px;
		}

		.text-block__description {
			max-width: 320px;
		}

		&:last-child {
			min-height: 300px;
		}
	}

	&--sm-text {
		justify-content: flex-end;
		padding-right: 34px;

		.text-block__title {
			font-size: 32px;
			font-weight: 700;
			line-height: 30px;

			margin-bottom: 25px;
		}

		.text-block__description {
			max-width: 550px;
		}
	}

	&--violent {
		background-color: $medium-magenta;
	}

	&--yellow {
		background-color: $yellow;
	}

	&--books-bg,
	&--hourglass-bg,
	&--comment-bg,
	&--comments-bg,
	&--heart-bg,
	&--diploma-bg,
	&--leaves-bg,
	&--mail-bg,
	&--contact-bg,
	&--contacts-bg,
	&--cap-bg,
	&--cap-sm-bg,
	&--note-bg,
	&--note-2-bg,
	&--notes-bg,
	&--person-bg,
	&--briefcase-bg,
	&--webcam-bg,
	&--webcam-2-bg,
	&--format-bg,
	&--video-bg,
	&--fire-bg,
	&--levels-bg {
		&::before {
			content: "";
			position: absolute;
			background-position: center center;
			background-size: cover;
			background-repeat: no-repeat;
		}
	}

	&--books-bg {
		&::before {
			width: 288px;
			height: 233px;
			bottom: 30px;
			right: -20px;
			background-image: url("../../assets/images/text-blocks-bg/books-bg.svg");
		}
	}

	&--hourglass-bg {
		&::before {
			width: 180px;
			height: 210px;
			top: -40px;
			right: 10px;
			background-image: url("../../assets/images/text-blocks-bg/hourglass-bg.svg");
		}
	}

	&--comment-bg {
		&::before {
			width: 219px;
			height: 187px;
			top: -30px;
			right: 5px;
			background-image: url("../../assets/images/text-blocks-bg/comment-bg.svg");
		}
	}

	&--comments-bg {
		&::before {
			width: 217px;
			height: 175px;
			top: -0;
			right: 0;
			background-image: url("../../assets/images/text-blocks-bg/comments-bg.svg");
		}
	}

	&--heart-bg {
		&::before {
			width: 384px;
			height: 365px;
			top: 0;
			right: 0;
			background-image: url("../../assets/images/text-blocks-bg/heart-bg.svg");
		}
	}

	&--diploma-bg {
		&::before {
			width: 189px;
			height: 188px;
			top: -20px;
			right: -25px;
			background-image: url("../../assets/images/text-blocks-bg/diploma-bg.svg");
		}
	}

	&--leaves-bg {
		&::before {
			width: 211px;
			height: 216px;
			bottom: -20px;
			right: -35px;
			background-image: url("../../assets/images/text-blocks-bg/leaves-bg.svg");
		}
	}

	&--mail-bg {
		&::before {
			width: 254px;
			height: 204px;
			top: 0;
			right: 0;
			background-image: url("../../assets/images/text-blocks-bg/mail-bg.svg");
		}
	}

	&--contact-bg {
		&::before {
			width: 171px;
			height: 132px;
			top: 0;
			right: 0;
			background-image: url("../../assets/images/text-blocks-bg/contact-bg.svg");
		}
	}

	&--contacts-bg {
		&::before {
			width: 171px;
			height: 132px;
			top: 0;
			right: 0;
			background-image: url("../../assets/images/text-blocks-bg/contacts-bg.svg");
		}
	}

	&--cap-sm-bg {
		&::before {
			width: 192px;
			height: 190px;
			top: 0;
			right: 0;
			background-image: url("../../assets/images/text-blocks-bg/cap-bg.svg");
		}
	}

	&--cap-bg {
		&::before {
			width: 269px;
			height: 216px;
			top: 0;
			right: 0;
			background-image: url("../../assets/images/text-blocks-bg/cap-bg.svg");
		}
	}

	&--note-bg {
		&::before {
			width: 192px;
			height: 216px;
			top: 0;
			right: 0;
			background-image: url("../../assets/images/text-blocks-bg/note-bg.svg");
		}
	}

	&--notes-bg {
		&::before {
			width: 153px;
			height: 117px;
			top: 0;
			right: 0;
			background-image: url("../../assets/images/text-blocks-bg/notes-bg.svg");
		}
	}

	&--note-2-bg {
		&::before {
			width: 155px;
			height: 168px;
			top: 0;
			right: 0;
			background-image: url("../../assets/images/text-blocks-bg/note-2-bg.svg");
		}
	}

	&--person-bg {
		&::before {
			width: 182px;
			height: 190px;
			top: 0;
			right: 0;
			background-image: url("../../assets/images/text-blocks-bg/person-bg.svg");
		}
	}

	&--briefcase-bg {
		&::before {
			width: 203px;
			height: 172px;
			top: 0;
			right: 0;
			background-image: url("../../assets/images/text-blocks-bg/briefcase-bg.svg");
		}
	}

	&--video-bg {
		&::before {
			width: 270px;
			height: 236px;
			top: 0;
			right: 0;
			background-image: url("../../assets/images/text-blocks-bg/video-bg.svg");
		}
	}

	&--format-bg {
		&::before {
			width: 176px;
			height: 166px;
			border-top-right-radius: $border-radius;
			top: 0;
			right: 0;
			background-image: url("../../assets/images/text-blocks-bg/format-bg.svg");
		}
	}

	&--webcam-bg {
		&::before {
			width: 137px;
			height: 131px;
			top: 0;
			right: 0;
			background-image: url("../../assets/images/text-blocks-bg/webcam-bg.svg");
		}
	}

	&--webcam-2-bg {
		&::before {
			width: 190px;
			height: 155px;
			border-top-right-radius: $border-radius;
			top: 0;
			right: 0;
			background-image: url("../../assets/images/text-blocks-bg/webcam-2-bg.svg");
		}
	}

	&--levels-bg {
		&::before {
			width: 208px;
			height: 150px;
			border-top-right-radius: $border-radius;
			top: 0px;
			right: 0px;
			background-image: url("../../assets/images/text-blocks-bg/levels-bg.svg");
		}
	}

	&--fire-bg {
		&::before {
			width: 156px;
			height: 168px;
			top: 0;
			right: 0;
			background-image: url("../../assets/images/text-blocks-bg/fire-bg.svg");
		}
	}
}
