.text-blocks {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	.subtitle {
		max-width: 700px;
	}

	&__columns {
		display: flex;
		flex-basis: 100%;
		justify-content: space-between;
	}

	&__left {
		display: flex;
		flex-direction: column;

		> div {
			flex-basis: 50%;
		}
	}
}
