.text-blocks {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	.subtitle {
		max-width: 700px;
	}

	&__description {
		font-size: 32px;
		font-weight: 600;
		line-height: 35px;

		max-width: 703px;
	}

	&__columns {
		display: flex;
		flex-basis: 100%;
		justify-content: space-between;
	}

	&__left {
		display: flex;
		flex-direction: column;

		> div {
			flex-basis: 50%;
		}
	}

	&--expectations {
		.subtitle {
			max-width: 339px;
			margin-bottom: 25px;
		}
	}
}
