.trial-lesson {
	margin-bottom: 100px;

	.subtitle {
		max-width: 701px;
		margin-left: 50px;
		line-height: 40px;
		font-size: 42px;

		margin-bottom: 20px;
	}

	&__description {
		font-size: 18px;
		font-weight: 600;
    max-width: 380px;
		line-height: 20px;

		margin-left: 50px;
		margin-bottom: -20px;
	}
}
