.video-section {
	padding: 96px 105px 96px 100px;
	margin-bottom: 184px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;

	background-color: $white;
	border-radius: $border-radius;

	.subtitle {
		max-width: 340px;
	}

	.video {
		position: relative;

		&::before {
			content: "";
			position: absolute;
			top: -10px;
			left: -35px;
			width: 507px;
			height: 334px;
			background: url("../../assets/images/being-student-border.svg")
				center center/contain no-repeat;
		}
	}

	&::before {
		content: "";
		position: absolute;
		top: 55%;
		left: 30%;
		width: 285px;
		height: 145px;
		background: url("../../assets/images/short-video.svg") center
			center/contain no-repeat;
	}

	&--methodology,
	&--speaking-club {
		&::before {
			// пока не могу поставить нужное свг, т.к. они разделены на части
			background-image: url("../../assets/images/short-video.svg");
		}

		.subtitle {
			max-width: 400px;
		}
	}

	&--companies,
	&--companies-2 {
		.subtitle {
			max-width: 600px;
		}

		.video {
			&::before {
				content: none;
			}
		}

		&::before {
			content: none;
		}
	}

	&--companies-2 {
		.subtitle {
			max-width: 560px;
		}
	}

	&--speaking-club {
		background-color: $yellow;
	}
}
