.video-block {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 628px;
	min-height: 600px;

	background-color: $white;
	border-radius: $border-radius;

	.video {
		margin: 0;
		height: 320px;
	}

	&__content {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		padding: 42px 30px 46px 48px;

		font-size: 24px;
		font-weight: 600;
		line-height: 25px;
	}

	&__title {
		font-size: 32px;
		font-weight: 800;
		line-height: 30px;

		margin-bottom: 19px;
	}

	&__progress {
		margin-top: auto;
	}

	&__item {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 5px;

		div {
			flex-basis: 50%;
		}
	}

	&__start,
	&__teacher {
		font-weight: 700;
	}
}
