<img src="./assets/images/pictures/anastasia-2.jpg" alt="Say Yes" class="window__img">
<div class="window__content">
	<h2 class="window__title">Оперативно перезвоним</h2>
	<p class="window__description">И подробно ответим на все ваши вопросы об условиях и ценах на обучение</p>
	<form class="feedback-form">
		{% include '../components/callback-form.twig' %}
	</form>
</div>
