<section class="central-text">
	<h2 class="central-text__title">Английский
		<span class="violent">с ощутимым результатом</span>
		уже через месяц занятий</h2>
	<p class="central-text__description">Команда преподавателей отвечает за ваш прогресс, а менеджеры создают приятную атмосферу, в которую хочется возвращаться</p>
</section>
