<div class="custom-checkbox">
	<label for="{{checkboxName}}" class="custom-checkbox__label">
		Я согласен с
		<a href="#" class="text text--underline">политикой обработки персональных данных</a>
		<input type="checkbox" id="{{checkboxName}}" name="{{checkboxName}}" class="custom-checkbox__input" checked>
		<span class="custom-checkbox__checkmark"></span>
	</label>

	<p class="custom-checkbox__description">
		Оставляя заявку вы принимаете условия
		<a href="#" class="text text--underline">Политикой обработки персональных данных</a>
	</p>
</div>
