<label for="{{checkboxName}}" class="custom-checkbox">
	Я согласен с <a href="#" class="text text--underline">политикой обработки персональных данных</a>
	<input type="checkbox" id="{{checkboxName}}" name="{{checkboxName}}" class="custom-checkbox__input" checked>
	<span class="custom-checkbox__checkmark"></span>
</label>
