<img src="./assets/images/pictures/feedback.jpg" alt="Say Yes" class="window__img">
<div class="window__content">
	<p class="window__description">Мы свяжемся с вами, запишем на урок, ответим на вопросы и расскажем о курсах</p>
	{% include '../components/feedback-form.twig' %}
</div>
