<header class="main-header">
	<div class="main-header__overview">
		<div class="header-container">
			{% include '../components/logo.twig' with { fill: "#fff" } %}
			<button class="btn btn--transparent btn--uppercase btn--sm main-header__free-lesson" id="feedback">Бесплатный урок</button>
			<button class="main-header__test">Онлайн тест</button>
			<button class="main-header__callback">Обратный звонок</button>
			{% include '../components/phone-numbers.twig' with {classes: 'icon--white icon--sm'}  %}
			<div class="main-header__contacts">
				<div class="main-header__city">Москва</div>
				<div class="main-header__time">ПН-ПТ с 12:00 до 21:00</div>
			</div>
			<a href="#" class="main-header__login">Войти</a>
			<button class="main-header__burger">
				<div class="main-header__burger-line"></div>
				<div class="main-header__burger-line"></div>
				<div class="main-header__burger-line"></div>
			</button>
		</div>
	</div>

	<nav class="main-header__navigation">
		<ul class="main-header__list">
			{% for item in headerNavItems %}
				<li class="main-header__item">
					<a href="{{item.url}}" class="main-header__sublink">{{item.text}}</a>
					{% include '../components/subnav.twig' %}
				</li>
			{% endfor %}
		</ul>
		<button class="btn btn--yellow main-header__trial-lesson">Записаться на пробный урок</button>
	</nav>
</header>
